.vscode/
.idea/
node_modules/
tmp/
dist/
build/
_docs/
src/theme/assets/js/landing/*.js
_packages/
Thumbs.db

# We only care about .less files
#*.css

# Large original backups of site assets that are stored elsewhere (files.ii)
/_assets/_archive

~*.docx

# Just gotta remove the whole thing. Damn it.
/_assets/
