<pagecontent class="noflex">
    <p align="center">This is a collection of quick cheat sheets containing search engine syntax.</p>
    <section>
        <h1><a href="https://twitter.com/search">Twitter</a></h1>
        <center>
            <table width="100%">
                <caption>Twitter uses AND searching by default.</caption>
                <tbody>
                    <tr><td class="example">"search phrase"</td><td>results with the exact phrase</td></tr>
                    <tr><td class="example">a OR b</td><td>results with either "a", "b", or both</td></tr>
                    <tr><td class="example">beer -root</td><td>results with "beer" but not "root"</td></tr>
                    <tr><td class="example">#fucktrump</td><td>contains hashtag</td></tr>
                    <tr><td class="example">from:username</td><td>sent from @username</td></tr>
                    <tr><td class="example">to:username</td><td>sent to @username</td></tr>
                    <tr><td class="example">@username</td><td>results with reference to @username</td></tr>
                    <tr><td class="example">near:"san francisco"</td><td>results with geolocation near named location (or lat/long, more)</td></tr>
                    <tr><td class="example">within:15mi</td><td>results inside distance radius (when paired with <code>near:</code>)</td></tr>
                    <tr><td class="example">since:2010-01-01</td><td>search time earliest</td></tr>
                    <tr><td class="example">until:2014-06-22</td><td>search time latest</td></tr>
                    <tr><td class="example">source:twitterfeed</td><td>tweets posted using TwitterFeed</td></tr>
                    <tr><td class="example">lang:jp</td><td>tweets posted with a specific language (<a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO 639-1 language code</a>)</td></tr>
                    <tr><td class="example">:), :(, ?</td><td>likely not strictly keywords, but might gauge question/mood results</td></tr>
                    <tr><td class="example">filter:links</td><td>⭐ tweets filtered by various things; see table below</td></tr>
                </tbody>
            </table>
            <table width="100%">
                <caption>Filter Types</caption>
                <tbody>
                    <tr><td class="example">links</td><td>results with links</td></tr>
                    <tr><td class="example">mentions</td><td>results with mentions</td></tr>
                    <tr><td class="example">media</td><td>results with media (video, images, etc)</td></tr>
                    <tr><td class="example">images</td><td>results with images</td></tr>
                    <tr><td class="example">videos</td><td>results with videos</td></tr>
                    <tr><td class="example">hashtags</td><td>results with any hashtag</td></tr>
                    <tr><td class="example">verified</td><td>results from verified users</td></tr>
                    <tr><td class="example">quote</td><td>results that quote other tweets</td></tr>
                </tbody>
            </table>
            <p align="right"><small>Adapted from <a class="no-block" href="https://zapier.com/blog/twitter-advanced-search-guide/">zapier.com</a></small></p>
        </center>
    </section>
</pagecontent>