<pagecontent class="noflex">
    <section>
    <h1>Other</h1>
        {% for cheat_name, cheat_links in other %}
        <details open>
            <summary>{{cheat_name}}</summary>
            <ul>
                {% for link in cheat_links %}
                    <li>
                        {{ utils.link_render(link) }}
                    </li>
                {% endfor %}
            </ul>
        </details>
        {% endfor %}
    </section>
    <section>
    <h1>CTFPanel</h1>
        <ul>
        <li>
        <a href="https://github.com/Fortyseven/ctfpanel" title="CTFPanel on Github">Github</a>
        </li>
        </ul>

    </section>
</pagecontent>