<pagecontent class="noflex">
    <p align="center">This is a collection of quick cheat sheets containing search engine syntax.</p>
    {% include "cheats/_cheats-search-twitter.twig" %}
</pagecontent>