{#% import "../pages/blocks/_utils.twig" as utils %#}
<!-- #################################################### -->
<footer>
    <!-- All opinions expressed here are my own and do not reflect my employer unless otherwise specified.<br/>
    &copy; 2016 <a href="http://BytesTemplar.com">Bytes Templar</a> -->
</footer>
<!-- #################################################### -->
