@desktop: ~"screen and (min-width: 769px)";
@mobile: ~"screen and (max-width: 768px)";

@ega-grey: #aaaaaa;
@ega-ltred: #ff5555;
@ega-green: #00aa00;
@ega-ltgreen: #55ff55;
@ega-brown: #aa5500;
@ega-yellow: #ffff55;
@ega-cyan: #00aaaa;
@ega-ltcyan: #55ffff;
@ega-magenta: #aa00aa;
@ega-ltmagenta: #ff55ff;

@deus-gold: #ffbb00;
@deus-cyan: darkcyan;
@deus-background: #111;

@font-secondary: "Roboto Condensed", sans-serif;
