@desktop: ~"screen and (min-width: 769px)";
@mobile: ~"screen and (max-width: 768px)";

/** COLORS **/

// @hg-red: #ec1d25;
// @hg-section-padding: 5vw;

//@standard-fonts: "Futura LT W01 Medium Condensed", "Open Sans", sans-serif;
@standard-fonts: "Arial", sans-serif;

// @font-face {
//     font-family: 'Verdana';
//     src:         url('@{path_fonts}/Verdana/Verdana.eot?#iefix') format('embedded-opentype'),
//                  url('@{path_fonts}/Verdana/Verdana.woff') format('woff'),
//                  url('@{path_fonts}/Verdana/Verdana.ttf') format('truetype'),
//                  url('@{path_fonts}/Verdana/Verdana.svg#Verdana') format('svg');
//     font-weight: normal;
//     font-style:  normal;
// }
